Flask==0.11.1
ipython==5.0.0
ipython-genutils==0.1.0
Flask-SQLAlchemy==2.1
Flask-Migrate==2.0.0
Flask-Script==2.0.5
psycopg2==2.6.2
python-dotenv==0.5.1
psycopg2==2.6.2
python-dotenv==0.5.1
waitress==0.9.0
